version: '3.8'

services:
  varianttransformer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: varianttransformer
    ports:
      - "8888:8888"
    volumes:
      - .:/app
      - ./data:/app/data
    environment:
      - PYTHONPATH=/app
    stdin_open: true
    tty: true
    command: jupyter notebook --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''

